*{
    box-sizing: border-box;
}
/* Set body color */
body{
    margin: 0px;
    padding: 0px;
    background-color: #ddd;
}
/* Add bg color and some style in the main header */
#flex-row{
    background-color: #2D25A0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
:root{
    --box-shadow-color: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.banner-photo{
    width: 556px;
    height: 438px;
    left: 200px;
    margin-top: 23px;
    transition: transform .2s;
}
.watch-live-btn{
    background-color: #E02C6D;
    width: 168px;
    height: 44px;
    text-decoration: none;
    padding: 10px 24px;
    color: white;
}
#main_header div .copa-title{
    width: 445px;
    height: 230px;
    line-height: 2;
    color: #ffffff;
    font-size: 40px;
}
/* responsive */
@media (min-width: 900px) {
    main{
        margin: 0px 150px;
    }
    footer{
        margin: 0px 150px;
    }
    footer > div {
        margin: 0px 300px;
    }
}
@media (max-width: 768px) {
    #flex-row{
        justify-content: unset;
    }
    .header-content{
     margin-left: 15px;
    }
    .header-content{
        margin-bottom: 30px;
    }   
    .banner-photo{
        width: 329px;
        height: 259px;
       margin: auto;
    }
}
@media (max-width: 768px) {
    .grid-container{
    grid-template-columns: auto!important;
    justify-content: center;
  }
  .copyright{
    margin: 0;
    text-align: center;
}
}
.first-section-heading{
    font-family: Poppins;
    font-weight: bold;
    color: white;
    font-size: 45px;
}
/* player grid area */
.grid-item{
    width: 300px;
    height: 426px;
    box-shadow: var(--box-shadow-color);
    margin-bottom: 20px;
}
/* three grid item for each line */
.grid-container{
display: grid;
grid-template-columns: repeat(3, 1fr);
margin-left: 28px;
}
/* player photo */
.grid-item img{
    width: 100%;
}
.grid-item h1, p{
    margin: 0px 5px;
}
.player-img{
    margin: 5px 5px;
}
.grid-item p {
    color: #000000a3;
    font-family: -webkit-body;
}
.grid-item h1 {
    margin: 10px 0px;
}
#flex-footer-item{
    display: flex;
    flex-direction: row;
    margin: 0px 10px;
    justify-content: center;
    align-items: center;
}
#logo-img{
    width: 50%;
}
#flex-footer-item div{
    margin: 0px 10px;
    background-color: #c5c5c5;
    border-radius: 50%;
    padding: 9px;
}
.social-icons{
font-size: 20px;
color: #0000007a;
}
/* effect */
.banner-photo:hover{
    transform: scale(1.5);
}